body {
  background-color: #f8f7f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
}

footer .list_image-title {
  text-align: center;
}

footer .list_image-title .main_title {
  font-size: 32px;
}

footer .list_image-title .content_title {
  font-size: 14px;
  font-weight: 300;
}

footer .list_image-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 6px;
  background-color: white;
  margin-top: 40px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

footer .list_image-scroll img {
  width: 275px;
  height: 275px;
  left: 1130px;
  bottom: 7px;
  padding: 0 3px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .footer_contact {
  margin: 70px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

footer .footer_contact .footer_contact-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}

footer .footer_contact-register {
  padding-left: 0;
}

footer .footer_contact-register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_contact-register-form .select_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
}

footer .footer_contact-register-form .select_input select {
  outline: none;
  padding-left: 17px;
  width: calc(35% - 14px);
  background: #f8f7f3;
  border: 1px solid #d6d6d4;
  color: #838280;
}

footer .footer_contact-register-form .select_input .input_name {
  height: 50px;
  width: 65%;
  padding: 17px;
  outline: none;
  background: #f8f7f3;
  border: 1px solid #d6d6d4;
}

footer .footer_contact-register-form .input_email {
  outline: none;
  height: 50px;
  width: 400px;
  padding: 17px;
  margin-top: 14px;
  background: #f8f7f3;
  border: 1px solid #d6d6d4;
}

footer .footer_contact-register-form button {
  height: 50px;
  width: 400px;
  font-size: 14px;
  font-weight: bold;
  color: #f8f7f3;
  background: #838280;
  border: none;
  margin-top: 20px;
}

footer .footer_contact-contact-email {
  line-height: 0;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

footer .footer_contact-contact-phone {
  font-size: 14px;
  font-weight: 300;
}

footer .footer_contact-contact-icon {
  margin-top: 20px;
}

footer .footer_contact-contact-icon object + object {
  margin-left: 10px;
}

footer .footer_contact-address .footer_contact-title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 18px;
}

footer .footer_contact-address .main_address .address {
  font-size: 14px;
  font-weight: 300;
}

footer .footer_contact-address .main_address + .main_address {
  margin-top: 50px;
}

footer .footer_nav {
  margin-top: 70px;
  background-color: #ecebea;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

footer .footer_nav-container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

footer .footer_nav-container ul li {
  color: #23252b;
  font-size: 14px;
  font-weight: 500;
}

footer .footer_nav-container ul li + li {
  margin-left: 60px;
}

footer .footer_nav-container ul a {
  text-decoration: none;
  color: #23252b;
  font-size: 14px;
  font-weight: 500;
}
/*# sourceMappingURL=footer.css.map */